<header class='top-page-header'>
  <div class="content">
    <ul class='lists-left'>
      <li><%= link_to 'Ball Seach', root_path, class: "title-list" %></li>
      <li><%= link_to 'New Tweet', new_tweet_path, class: "header-list" %></li>
    </ul>
    <ul class='lists-right'>
    <% if user_signed_in? %>
      <li><%= link_to current_user.user_name, "#", class: "header-list" %> </li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-list" %></li>
    <% else %>
      <li><%= link_to 'ログイン', user_session_path, class: "header-list" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "header-list" %></li>
    <% end %>
    </ul>
  </div>
</header>