<%= render "shareds/header" %>

<div class='main'>
  <div class="setumei">
    <div class="syoukai">
      <%= image_tag "baseball-No.1.jpg", class:"list-pict" %>
    </div>
    <div class="yakyu">
      <h4 class="as">野球をしよう！！</h4>
      <div class="yuyu">　ororoorororor
      <br>ororoorororor</div>
    </div>
  </div>
  <h2 class="sinki">NEW TWEET 一覧表示</h2>
  <div class="tweet-wrap">
    <% @tweets.each do |tweet|%>
      <div class='image-content'>
        <%= image_tag tweet.image, class: "tweet-img" %>
      </div>
      <div class='tweet-title'>
        <%= tweet.title %>
      </div>
      <% tweet.tags.each do |tag| %>
        #<%=tag.name%>
      <%end%>
    <% end %>
  </div>
</div>